//
//  FLEX GRID
//  Inspired by Bootstrap Grid (v4)
//  --------------------------------------------------

.container {
  @include make-grid-container();
  @include make-grid-container-max-widths();
}

.container-fluid {
  @include make-grid-container();
}

.row {
  @include make-grid-row();

  //
  // Elements
  // ------------------------

  //
  // Modifiers
  // -------------------------

  &--no-gutter {
    margin-right: 0;
    margin-left: 0;

    > .col {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.col {
  @include make-grid-columns();

  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
}
