//
// Section Intro
//
// ExampleBgColor: #12122c
//
// Markup: section-intro.styleguide.twig
//
// Styleguide Objects.Section-Intro

.o-section-intro {
  // stylelint-disable-next-line meowtec/no-px
  --c-code-block-max-height: #{px-to-rem(394px)};

  //
  // Elements
  // -------------------------
  &__content {
    display: flex;
    min-height: px-to-rem(552px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: pad(medium);
    padding-bottom: pad(medium);
  }

  &__title {
    max-width: px-to-rem(720px);
    margin-top: gap(large);
    margin-bottom: px-to-rem(64px);
    text-align: center;
  }

  &__code {
    max-width: px-to-rem(755px);
    margin: gap(large) auto px-to-rem(-146px);
  }

  //
  // Modifiers
  // -------------------------
}
