<div class="{{ html_classes('c-advantage', className) }}">
  <span class="c-advantage__number">{{ number }}</span>
  <p>
    {{ firstText }}
  </p>
  <p class="c-advantage__second-text">
    {{ secondText }}
  </p>
</div>
