{% extends "../layout.html.twig" %}

{% block body %}
  {% embed "@objects/root/root.html.twig" only %}
    {% block content %}
      {% include "@objects/header/header.html.twig" %}
      <main>
        {% include "@objects/section-intro/section-intro.html.twig" with {} only %}
        {% include "@objects/section-advantages/section-advantages.html.twig" with {} only %}
        {% include "@objects/section-examples/section-examples.html.twig" with {} only %}
      </main>
      {% include "@components/footer/footer.html.twig" with {} only %}
    {% endblock %}
  {% endembed %}
{% endblock %}
