<label class="{{ html_classes('c-checkbox', className) }}">
  <input class="{{ html_classes('c-checkbox__inp', inputClassName) }}" type="checkbox" {{ html_attributes({ id: id, name: name, checked: checked, disabled: disabled }) }}>
  <span aria-hidden="true" class="c-checkbox__mask"></span>
  {% if label %}
    <span class="c-checkbox__label">{{ label }}</span>
  {% endif %}
</label>

