<div class="{{ html_classes('c-example js-example', className) }}">
  <div class="c-example__header">
    {% include "@components/checkbox/checkbox.html.twig" with {
      id: false,
      name: 'example-checkbox' ~ exampleId,
      label: 'Show Disabled States',
      className: 'u-margin-left-large',
      inputClassName: 'js-example-checkbox',
      checked: false,
      disabled: false,
    } only %}

    {% include "@components/edit-example-button/edit-example-button.html.twig" with {
      className: null,
      attributes: {
        href: '',
      },
      text: 'Edit on Codepen',
      iconName: 'codepen'
    } only %}
  </div>
  <fieldset class="c-example__preview-wrapper js-example-fieldset">
    <div class="c-example__preview">
      {% block preview %}{% endblock %}
    </div>
  </fieldset>
  <div class="c-example__code-block">
    {% embed "@components/code-block/code-block.html.twig" with { className: null, codeBlock: block('codeBlock') } only %}
      {% block code %}{{ codeBlock }}{% endblock %}
    {% endembed %}
  </div>
</div>
