//
// Code Block
//
// Markup: code-block.styleguide.twig
//
// .c-code-block--rounded - Rounded
//
// Styleguide Components.Code-Block

.c-code-block {
  $radius: px-to-rem(8px);
  $code-max-height: px-to-rem(544px);

  font-size: px-to-rem(20px);

  // We deliberately increased specificity to avoid overwriting problems
  &__code {
    max-height: var(--c-code-block-max-height, #{$code-max-height});
    border-radius: var(--c-code-block-border-radius);
  }

  &--rounded {
    --c-code-block-border-radius: #{$radius};
  }
}
