<div class="u-display-flex">
  {% include "social-link.html.twig" with {
    iconName: 'github',
    className: null,
    attributes: { href: '', target: '_blank', title: 'Github' }
  } only %}
  {% include "social-link.html.twig" with {
    iconName: 'codepen',
    className: 'u-margin-left-medium',
    attributes: { href: '', target: '_blank', title: 'Github' }
  } only %}
  {% include "social-link.html.twig" with {
    iconName: 'twitter',
    className: 'u-margin-left-medium',
    attributes: { href: '', target: '_blank', title: 'Github' }
  } only %}
</div>
