<a class="{{ html_classes('c-social-link', className) }}" {{ html_attributes(attributes) }}>
  {% include "@components/icon/icon.html.twig" with { name: iconName, className: 'u-flex-shrink-0', attributes: {} } only %}
</a>
