<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    {% block meta %}
      <title>Default Project</title>
    {% endblock %}
    <link rel="dns-prefetch" href="//www.googletagmanager.com" />
    <link rel=stylesheet href="css/app{% if is_production() %}.min{% endif %}.css">
    {% block headerStylesheets %}{% endblock %}
    {% block headerJavascripts %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="//www.googletagmanager.com/gtag/js?id=UA-32151202-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-32151202-3');
    </script>
  </head>
  <body>

  {% if svgSprite %}
    <div hidden>
      {{ svgSprite|raw }}
    </div>
  {% endif %}

  {% block body %}{% endblock %}

  <!-- Javascript Files -->
  {% block footerVendorJavascripts %}{% endblock %}
  <script src="js/app{{ is_production() ? '.min'}}.js"></script>
  {% block footerJavascripts %}{% endblock %}
  </body>
</html>
