//
// Icons
//
// This project uses SVG sprites for icons. After completing SVG icon optimizations,
// place your icons with `.svg` extension into `src/icons` folder.
// Gulp will perform the necessary processes.
//
// > Note that `[name]` is a special placeholder that using by kss to generate icons list.
// Do not remove this!
//
// Icons: src/icons
//
// Markup: icon.styleguide.twig
//
// Styleguide Icons

.c-icon {
  display: inline-block;
  // Allows sizing by changing the icon’s font-size
  width: 1em;
  height: 1em;
  // Default path fill = value of the color property
  fill: currentColor;
  // Nice visual alignment for icons alongside text
  vertical-align: -0.15em;
}
