<a class="{{ html_classes('c-edit-example-button', className) }}" {{ html_attributes(attributes)}}>
  {% include "@components/icon/icon.html.twig" with { name: iconName, className:'u-margin-right-xsmall u-font-size-large', attributes: {} } only %}
  {{ text }}
</a>
