<a class="{{ html_classes('c-edit-example-button', className) }}" {{ html_attributes(attributes)}}>
  {% include "@components/icon/icon.html.twig" with { name: iconName, className:'c-edit-example-button__icon', attributes: {} } only %}
  {{ text }}
</a>
