//
// Section Examples
//
// ExampleBgColor: #12122c
//
// Markup: section-examples.styleguide.twig
//
// Styleguide Objects.Section-Examples

.o-section-examples {
  @include media-breakpoint-up(md) {
    padding-top: px-to-rem(136px);
    padding-bottom: px-to-rem(160px);
  }

  @include media-breakpoint-down(sm) {
    padding-top: px-to-rem(72px);
    padding-bottom: px-to-rem(72px);
  }

  //
  // Elements
  // -------------------------

  &__title {
    text-align: center;
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: center;
    }
  }

  &__logo-icon {
    margin-top: px-to-em(3px, 32px);
    @include media-breakpoint-up(md) {
      margin-right: px-to-rem(-5px);
      margin-left: px-to-rem(-5px);
    }

    @include media-breakpoint-down(sm) {
      margin-right: px-to-rem(-9px);
      margin-left: px-to-rem(-9px);
    }
  }

  &__example {
    @include media-breakpoint-up(md) {
      margin-top: px-to-rem(96px);
    }

    @include media-breakpoint-down(sm) {
      margin-top: gap(xlarge);
    }
  }

  //
  // Modifiers
  // -------------------------
}
